.feed--home {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 350px;
    grid-gap: 16px;
    margin: 40px 0 40px 0;

    .full-card {
      grid-column-start: span 12;
      display: flex;

      .full-card--img {
        width: 50%;
        transition: all .3s ease;

        &:hover {
            cursor: pointer;
            transform: scale(1.02);
        }
      }

      .full-card--text {
        padding-left: 30px;

        &__title {
            color: black;
            margin: 5px 0 10px;
            font-family: Londrina Solid;
            margin-bottom: 10px;
            font-size: 33px;
            line-height: 37px;
        }

        &__category {
          font-family: Londrina Solid;
            font-size: 16px;
            line-height: 18px;
            font-weight: 700;
            letter-spacing: 1px;
            margin: 0;
                text-transform: uppercase;
                color: #C65252;
        }

        &__description {
          color: black;
          font-family: Open Sans;
          font-size: 14px;
          width: 74%;
          line-height: 20px;
        }

      }
    }

    .card {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 20px;
        transition: all .3s ease;

        &:hover {
            cursor: pointer;
            transform: scale(1.02);
        }

        &__title {
            font-size: 24px;
            line-height: 28px;
            font-weight: 400;
            color: #fff;
            margin: 10px 0 0 0;
            font-family: Londrina Solid;
            margin-bottom: 10px;
        }

        &__category {
          font-family: Londrina Solid;
            font-size: 16px;
            line-height: 18px;
            font-weight: 700;
            letter-spacing: 1px;
            margin: 0;
                text-transform: uppercase;
                color: #C65252;

        }
    }



    .card:nth-child(1), :nth-child(6), :nth-child(7) {
        grid-column-start: span 6;
    }

    .card:nth-child(2), :nth-child(3), :nth-child(4), :nth-child(5), :nth-child(8), :nth-child(9) {
        grid-column-start: span 3;
    }

    @media screen and (max-width: 1200px) {
        .card:nth-child(n) {
            grid-column-start: span 6;
        }
    }

    @media screen and (max-width: 800px) {
        .card:nth-child(n) {
            grid-column-start: span 12;
        }
    }


}
